@media (max-width:640px) {

  .right-off-canvas-menu {
    background-color: #D4A368;
  }

  section .content {
    width: 90%;
  }

  section .narrow_article {
    padding: 30px 30px 50px 30px;
  }

  section article {
    padding-top: 0px;
  }

  section article h3 {
    min-height: 0;
  }  

  section article img {
    width: 35%;
    margin-top: 10px;
  }

  section article p {
    font-size: 4.5vw;
    line-height: 35px;
  }
  
  section article h2 {
    font-size: 9vw;
  }

  section article h3 {
    line-height: 2.5rem;
    font-size: 6.1vw;
  }
  
  section .narrow_article h3 {
    font-size: 5vw;
  }

  section article h4 {
    font-size: 4.1vw
  }

  a.btn {
    font-size: 3vw;
  }

  /*** height of sections ***/
  #home {
    height: 100vh;
  }
  #revolution {
    height: 2370px;
  }
  #board {
    height: 4600px;
  }



  /*** 1st section ***/
  #home { background-image: url(../images_small/home_bg.jpg); }

  #home section .content {
    width: 90%;
  }

  #home div.row:nth-child(2) {
    margin-top: 10vh;
  }

  #logo_img {
    vertical-align: text-top;
    position: relative;
  }

  .right-off-canvas-toggle {
    text-align: right;
  }
  #mobile_munu_icon {
    width: 75%;
  }

  #home div.row:first-child, #menu li {
    height: 10vh;
    line-height: 15vh;
  }

  #caption {
    height: 225px;
    width: 100%;
    text-align: center !important;
    font-size: 10vw;
    line-height: 3.2rem
  }

  #caption #animation {
    text-align: center;
  }

  #caption img {
    position: static;
    width: auto;
    height: 70px;
    transform: none;
  }

  .learn_more div:nth-child(1) {
    background-image: url(../images_small/learn-more.svg);
    width: 7vh;
    height: 7vh;
  }
  .learn_more:hover div:nth-child(1) {
    background-image: url(../images_small/learn-more-hover.svg);
  }
  .learn_more div:nth-child(2) {
    font-size: 3vw;
  }

  #home div.row:nth-child(3) {
    padding-top: 9vh;
  }

  /*** 2nd section ***/
  
  #revolution {
    margin-top: -8vh;
  }

  #revolution .content article:first-child {
    padding-top: 25px;
  }

}

@media (max-width:540px) {
  #board { height: 4250px; }
}
@media (max-width:475px) {
  #board { height: 4000px; }
}
@media (max-width:450px) {
  #revolution { height: 2250px; }
}

@media (max-height:550px) {
  #home div.row:nth-child(3) {
    padding-top: 5vh;
  }
}