@media (min-width: 641px) and (max-width: 1024px) {
  section .content {
    width: 75%;
  }

  section article h2 {
    margin-bottom: 45px !important;
    margin-top: 15px;
  }
  section article h3 {
    font-size: 2.3vw;
    line-height: 2.3vw;
    min-height: 4vw;
  }
  section .narrow_article h3 {
    font-size: 2.8vw;
  }
  section article h4 {
    font-size: 2.3vw;
  }
  section article img {
    width: 65%;
  }
  section article p {
    font-size: 1.7vw;
  }

  /*a.btn {
    background-color: #FAFAFA;
    font-weight: bold;
  }*/

  section .narrow_article {
    padding: 30px 15px 40px 15px;
  }

  /*** height of sections ***/
  #home {
    height: 815px;
  }
  #revolution {
    height: 1250px;
  }
  #board {
    height: 2710px;
  }


  /* 1st section */
  #home { background-image: url(../images_medium/home_bg.jpg); }
  #home .content {
    width: 90%;
  }
  #home div.row:nth-child(1) {
    /*width: 700px;*/
    margin: 0 auto;
  }
  #home div.row:first-child, #menu li {
    line-height: 170px;
  }

  #home div.row:nth-child(2) {
    margin-top: 60px;
  }
  #logo_img {
    width: 100%;
  }
  #caption {
    height: 270px;
    width: 100%;
    text-align: center !important;
    font-size: 6vw;
    line-height: 5rem;
  }

  #home div.row:nth-child(3) {
    padding-top: 50px;
  }

/*  #home a.btn {
    color: #EC5845 !important;
  }*/

  #menu li:first-child {
    padding-left: 25px;
  }

/*  #menu a {
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 3px 17px;
    margin-left: 12px;
  }*/

/*  #menu a:hover, #menu a.selected {
    color: #EC5845;
    background-color: #FAFAFA;
  }*/

  #caption {
    line-height: 3.9rem;
  }
  #caption #animation {
    text-align: center;
  }

  #caption img {
    position: static;
    width: auto;
    height: 75px;
    transform: none;
    margin-top: 5px;
  }
  .socials {
    float: left;
    padding-left: 150px;
  }
  .socials a:nth-child(2) {
    right: -12px;
  }

  .socials a:nth-child(2):hover {
    right: -20px;
  }

  /* 2nd section */
  #revolution {
    margin-top: -100px;
  }
  #revolution .content article:first-child {
    padding-top: 30px;
  }
  #revolution .medium-4 {
    padding: 0 6px;
  }

  /* 3rd section */
  #board article {
    padding-bottom: 30px;
  }
  #board article h3 {
    font-size: 2.4vw;
  }

  #board img.fc_icon {
    margin-top: 50px;
  }

  #board p.ceo_name {
    font-size: 2vw;
    margin-bottom: 0;
  }
  #board .ficshelf_live {
    font-size: 3.5vw;
    margin-bottom: 4vw;
  }
/*  #board a.btn {
    color: #408180 !important;
  }*/

  #board .socials a {
    width: 36px;
    height: 36px;
  }
  
  #board .socials a:nth-child(1) {
    background-image: url(../images/socials/facebook-hover.svg)
  }
  #board .socials a:nth-child(1):hover {
    right: 30px;
    top: 0;
  }

  #board .socials a:nth-child(2) {
    background-image: url(../images/socials/twitter-hover.svg)
  }
  #board .socials a:nth-child(2):hover {
    right: -12px;
    top: 0;
  }
}

@media (max-width: 970px) {
  #board { height: 2610px; }
}

@media (max-width: 850px) {
  #board { height: 2520px; }
}
@media (max-width: 760px) {
  #board { height: 2400px; }
}
@media (max-width: 700px) {
  #board { height: 2400px; }
}
