@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
  font-family: Montserrat;
  color: #FAFAFA;
  background-color: #6AC4C5; /* like last section */
}
h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat;
}
a { text-decoration: none; color: #FAFAFA;  }
a:hover, a:focus, a:active { color: #FAFAFA;  }
a.btn {
  display: inline-block;
  border: 2px solid #FAFAFA;
  border-radius: 7px;
  padding: 20px 150px;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  color: #FAFAFA !important;
  text-decoration: none !important; 
  white-space: nowrap;
  transition: all 0.3s;
}
@media (max-width:550px) {
  a.btn { padding: 20px 100px; }
}
a.btn:hover, a.btn:active {
  background-color: #FAFAFA;
}
section {
  width: 100%;
  background-size: cover;
}

section .content {
    width: 960px;
    margin: 0 auto;
}

/* "temporary" solution for medium/small screens  */
/*@media (max-width:1025px) {
  section .content { width: 95%; }
}*/

section article h2 {
  font-size: 3.3rem;
  font-weight: normal;
}
section article h3 {
  font-size: 2.1rem;
  color: #FAFAFA;
  font-weight: normal;
  min-height: 5rem;
  line-height: 2.0rem;
  margin-bottom: 1rem;
  margin-top: 2rem
}
section .narrow_article h3 {
  line-height: 2.7rem;
}
section article h4 {
  font-size: 1.6rem;
  color: #FAFAFA;
  font-weight: normal;
}

section article {
  text-align: center;
  padding: 45px 0px 120px 0px;
  border-bottom: 2px solid;
}
section .narrow_article {
  padding: 45px 45px 120px 45px;
}

section article:last-child {
  border-bottom: none;
}

section article h2 {
  font-family: Pacifico;
  margin-bottom: 50px;
  margin-top: 30px;
}

section article img {
  width: 60%;
}

/* height of sections */
#home {
  height: 865px; /*650px;*/
}
#revolution {
  height: 1550px; /*1030px;*/
}
#board {
  height: 2835px; /*2160px;*/
}



/* 1st section */
#home {
  background-color: #D4A368;
  background-image: url(../images/home_bg.jpg);
  background-position: center center;
  color: #FAFAFA;
}
#logo_img {
  width: 50%;
}

#home div.row:first-child, #menu li {
  line-height: 230px;
}

#home div.row:nth-child(2) {
  margin-top: 160px;
}

#home a.btn {
  margin-top: 20px;
}
#home a.btn:hover, a.btn:active {
  color: #EC5845 !important;
}

#home div.row:nth-child(1) > div {
  padding: 0;
}

#home div.row:nth-child(3) {
  padding-top: 120px;
}

#menu {
  float: right;
  font-size: 0.7rem;
  font-weight: bold;
  letter-spacing: 0.5px;
}
#menu .fa-lock {
  margin-right: 8px;
  font-size: 115%;
  position: relative;
  top: 1px;
}
#menu a {
  padding: 3px 17px;
  margin-left: 12px;
  border:1px solid transparent;
  color: #fff;
}

#menu a.selected {
    cursor: auto;
}

@media (max-width:550px) {
  #menu a { padding: 5px 10px; }
}
#menu a:hover, #menu a:active, #menu a.selected {
  border: 1px solid #fff;
  border-radius: 20px;
}
#home div.row:first-child {
  white-space: nowrap;
}

#home .small-block-grid-5 li {
  width: auto;
  padding: 0;
}

#home div.row:nth-child(2) h1, #home div.row:nth-child(2) div {
  color: #FAFAFA;
  text-align: center;
}
#caption {
  display: inline-block;
  width: 650px;
  overflow: visible;
  position: relative;
  text-align: left !important;
  font-size: 3.3rem;
  font-weight: normal;
  white-space: nowrap;
}
/*@media (max-width:1025px) {
  #caption {
    font-size: 6vw;
  }
}*/

@media (max-width:750px) {
  #caption { width: 95% }
}

#animation {
  position: relative;
}

#caption #animation, #type {
  display: inline-block;
  text-align: left;
}

#caption img {
  width: 70px;
  position: absolute;
  top: -65px;
  display: none;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translate(-3px,0); 
}

.learn_more {
  display: inline-block;
  position: relative;
  z-index: 1;
}

.learn_more div:nth-child(1) {
  display: inline-block;
  width: 36.5px;
  height: 36.5px;
  background-image: url(../images/learn-more.svg);
  background-repeat: no-repeat;
  white-space: nowrap;
}
.learn_more:hover div:nth-child(1), .learn_more:active div:nth-child(1) {
  background-image: url(../images/learn-more-hover.svg);
}
.learn_more div:nth-child(2) {
  margin-top: 0.3rem;
  font-size: 0.65rem;
}

#home div.row:nth-child(3) li > div {
  text-align: center;
}

/* 2nd section */
#revolution {
  margin-top: -120px;
  position: relative;
  pointer-events: none;
}
#revolution .content article:first-child {
  padding-top: 90px;
}
#revolution > img {
  width: 100%;
  /*height: 1580px;*/
  height: 100%;
}
#revolution .overlay {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
}

section .row {
  /*max-width: 650px;*/
  padding: 0;
  margin: 0;
}

#revolution article h2, #revolution article p {
  color: #9A3529;
}
#revolution article {
  border-bottom-color: #9A3529;
}

/*#revolution article h2 {
  font-size: 2.3rem;
  font-weight: normal;
}
#revolution article h3 {
  color: #FAFAFA;
  font-weight: normal;
  min-height: 3.5rem;
}*/


section article p {
  font-size: 1.2rem;
}
/*@media (max-width:640px) {
  section article p { font-size: 3vw; }
}*/

#revolution article:nth-child(2) h2 {
  margin-bottom: 55px;
}

/* 3rd section */
#board {
  margin-top: -80px;
  padding-top: 80px;

  background-color: #6AC4C5;
  background-image: -moz-linear-gradient(top,  #78cbb9 0%, #6ac4c5 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#78cbb9), color-stop(100%,#6ac4c5)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top,  #78cbb9 0%,#6ac4c5 100%); /* Chrome10+,Safari5.1+ */
  background-image: -o-linear-gradient(top,  #78cbb9 0%,#6ac4c5 100%); /* Opera 11.10+ */
  background-image: -ms-linear-gradient(top,  #78cbb9 0%,#6ac4c5 100%); /* IE10+ */
  background-image: linear-gradient(to bottom,  #78cbb9 0%,#6ac4c5 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#78cbb9', endColorstr='#6ac4c5',GradientType=0 ); /* IE6-9 */
}

#board article {
  padding-bottom: 50px;
  border-bottom-color: #408180;
}
#board article h2, #board article p {
  color: #408180;
}

#board article h3 {
  font-size: 2.2rem;
}

#board img.fc_icon {
  width: 100px;
  margin: 10px;
}

#board .content article:last-child {
  padding-bottom: 30px;
}

#board a {
  color: #B1E3E7;
  text-decoration: underline;
}

#board a.btn {
  margin-top: 60px;
}
#board a.btn:hover, #board a.btn:active {
  color: #408180 !important;
}
#board article:nth-child(3) {
  padding: 50px;
}

#copy_right ul li:first-child {
  font-size: 0.9rem;
  text-align: left;
}
#copy_right ul li:last-child {
  text-align: right;
}


/* social links */
.socials {
  position: relative;
}
#home .socials {
    top: 40px;
}
.socials a {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: cover;
  background-position: center center;
  margin-right: 7px;
}
.socials a:hover, .socials a:active {
  width: 36px;
  height: 36px;
}
.socials a:nth-child(1) {
  right: 30px;
  top: 0;
  background-image: url(../images/socials/facebook.svg)
}
.socials a:nth-child(1):hover, .socials a:nth-child(1):active {
  right: 22px;
  top: -8px;
  background-image: url(../images/socials/facebook-hover.svg)
}
.socials a:nth-child(2) {
  right: 0;
  top: 0;
  background-image: url(../images/socials/twitter.svg)
}
.socials a:nth-child(2):hover, .socials a:nth-child(2):active {
  right: -8px;
  top: -8px;
  background-image: url(../images/socials/twitter-hover.svg)
}
/********************** NOT used currently ******************
.socials a:nth-child(3) {
  background-image: url(../images/socials/linkedin.svg)
}
.socials a:nth-child(3):hover {
  background-image: url(../images/socials/linkedin-hover.svg)
}
.socials a:nth-child(4) {
  background-image: url(../images/socials/medium.svg)
}
.socials a:nth-child(4):hover {
  background-image: url(../images/socials/medium-hover.svg)
}
*************************************************************/

#copy_right {
  margin-top: 200px;
}

/* typed-cursor */
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}