@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Montserrat);

.right { float: right; }
.center { text-align: center; }
body, h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat;
}

#content {
  width: 960px;
  margin: 0 auto;
}

section {
  border-bottom: 1px solid #EA5841;
  padding-bottom: 3rem;
}

h1 {
  font-family: Pacifico;
  color: #A8382A;
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
}

h2, a, a:hover, a:active, a:focus, p.red {
  color: #EA5841;
}
h2 {
  font-size: 2.1rem;
  width: 670px;
  margin-bottom: 2rem;
  line-height: 2.6rem;  
}
h3, h4 {
  font-size: 1.5rem;
  color: #E56454;
  font-weight: bold;
  margin: 3.5rem 0 1rem 0;
}
h4 {
  font-size: 1.3rem;
  font-weight: normal;
  margin-top: 1rem;
}
h3+h4 {
  margin-top: 0;
}

h3:nth-of-type(1), h4:nth-of-type(1) {
  margin-top: 2rem;
}

p, li {
  color: #A84E41;
  font-size: 1.2rem;
  width: 720px;
}

section:nth-of-type(1) P {
  width: 720px;
}

section:nth-of-type(2) P {
  width: 850px;
}

p.red:nth-of-type(1) {
  margin-top: 3rem;
}
.row > div {
  padding: 0;
}

header .row {
  margin: 88px 0 115px 0;
}
header .row img {
  width: 50%;
}

#menu {
  position: relative;
  top: 13px;
}
#menu a, a.selected {
  font-size: 0.75rem;
  font-weight: bold;
  border-radius: 20px;
  padding: 3px 17px;
  margin-left: 12px;
  white-space: nowrap;
}

#menu a:hover, #menu a:active, a.selected {
  color: #fff;
  background-color: #EA5841;
}
a.selected {
  cursor: auto;
}
#menu .fa-lock {
  margin-right: 8px;
  font-size: 115%;
  position: relative;
  top: 1px;
}

a.btn {
  display: inline-block;
  border: 2px solid #EA5841;
  border-radius: 7px;
  padding: 20px 150px;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  font-weight: bold;
  white-space: nowrap;
  transition: all 0.3s;
}

@media (max-width:640px) {
  a.btn {
    width: 90%;
    padding: 15px 0;
  }
}

a.btn:hover, a.btn:active {
  background-color: #EA5841;
  color: #fff;
}

#btn_container {
  margin: 7rem 0;
}

.socials {
  position: relative;
}
.socials a {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  position: absolute;
  /*margin-right: 10px;*/
}
.socials a:hover, .socials a:active {
  width: 36px;
  height: 36px;
}
.socials a:nth-of-type(1) {
  background-image: url(../images/socials/facebook.svg);
  right: 15px;
}
.socials a:nth-of-type(1):hover, .socials a:nth-of-type(1):active {
  background-image: url(../images/socials/facebook-hover.svg);
  top: -8px;
  right: 7px;
}
.socials a:nth-of-type(2) {
  background-image: url(../images/socials/twitter.svg);
  right: 0px;
  margin-right: 15px;
}
@media (max-width:640px) {
  .socials a:nth-of-type(2) { margin-right: 0px; }
}
.socials a:nth-of-type(2):hover, .socials a:nth-of-type(2):active {
  background-image: url(../images/socials/twitter-hover.svg);
  top: -8px;
  right: -8px
}

section:last-of-type {
  border: none;
}

footer {
  padding: 2rem 0 3rem 0;
  border-top: 1px solid #EA5841;
  font-size: 0.8rem;
  font-weight: bold;
}
footer .row > div:nth-of-type(2) {
  text-align: center;
  color: #A8382A;
}
footer .row:first-child a:first-child {
  margin-right: 35px;
}

footer a {
  white-space: nowrap;
}

@media (max-width:1024px) {
  #content {
    width: 90%;
  }
  h1, h2, h3, p, li {
    max-width: 100%;
  }
  header .row {
    margin-top: 58px;
  }
  header .row img {
    width: 100%;
  }
}

@media (max-width:725px) {
  footer .about_us_link {
    margin-right: 0px !important;
  }
}

@media (max-width:640px) {
  .right-off-canvas-toggle {
    text-align: right;
  }
  header .row {
    margin: 50px 0 70px 0;
  }
  header .row img {
    width: 70%;
  }
  footer .row {
    padding: 0;
  }
  footer .row > div {
    float: none;
    margin: 15px 0;
    text-align: center;
  }
  footer .about_us_link {
    margin-right: 35px  !important;
  }
  .socials a {
    position: static;
    display: inline-block;
  }
  /* no hover effect on small screen */
  .socials a:nth-of-type(1):hover, .socials a:nth-of-type(1):active {
    background-image: url(../images/socials/facebook.svg);
    width: 20px;
    height: 20px;
  }
  .socials a:nth-of-type(2):hover, .socials a:nth-of-type(2):active {
    background-image: url(../images/socials/twitter.svg);
    width: 20px;
    height: 20px;
  }
}